
.gallery {
  list-style-type: none; 
  padding: 0;
  margin: 0;
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  gap: 16px; 
}

@media (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 800px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 500px) {
  .gallery {
    grid-template-columns: 1fr; 
  }
}

.gallery li {
  margin-top: 25px;
  display: flex;
  justify-content: center; 
}

.imageCard img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 8px; 
}
